@import '../../common/style.scss';

.pokemon-page {
    min-height: 100vh;
    width: 100%;
    background-image: url('../../images/pattern-png-30769.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.pokemon-container {
    p{
        text-align: center;
        padding-top: 20px;
        font-size: 1.5rem;
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
    }
 
    h5 {
        padding-top: 10px;
    }
}

h4 {
    text-align: center;
    margin: 20px;
}
.pokemon-row {
padding: 20px; 
}

.pokemon-card {
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.pokemon-image-wrapper {
    height: 177px;
    width: 177px;
    background-color: transparent;
}

.btn {
    font-weight: bold;
}


.image-loader {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  