@import '../../common/style.scss';


.pokemon-container {
    width: 100%;
}

.card {
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.pokemon-image-wrapper {
    height: 177px;
    width: 177px;
    background-color: transparent;
}

.btn {
    font-weight: bold;
}


