@import '../../common/style.scss';


.pokemon-container {
    width: 100%;
    background-color: rgba(203, 218, 251, 0.1);
    background-image: url('../../images/pattern-png-30769.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    p{
        text-align: center;
        padding-top: 20px;
        font-size: 1.5rem;
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
    }
 
    h5 {
        padding-top: 10px;
    }
}

h4 {
    text-align: center;
    margin: 20px;
}
.pokemon-row {
padding: 20px; 
}

.card {
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.pokemon-image-wrapper {
    height: 177px;
    width: 177px;
    background-color: transparent;
}

.btn {
    font-weight: bold;
}


