@import '../../common/style.scss';

.poke-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .btn-primary {
    padding: 10px;
    margin-left: 10px;
    border-color: transparent;
  }
}


.fire-btn {
    background-color: rgb(180, 0, 0);
  }
  
  .grass-btn {
    background-color: rgb(3, 141, 3);
  }
  
  .water-btn {
    background-color: rgb(5, 5, 177);
  }

  .bug-btn {
    background-color: rgb(87, 223, 34);
  }
  
  .ground-btn {
    background-color: rgb(121, 61, 2);
  }
  
  .normal-btn {
    background-color: rgb(179, 179, 240);
  }
  
  .poison-btn {
    background-color: rgb(148, 52, 238);
  }
  
  .electric-btn {
    background-color: rgb(230, 255, 1);
  }
  
  .psychic-btn {
    background-color: rgb(83, 0, 160);
  }
  
  .fighting-btn {
    background-color: rgb(244, 117, 38);
  }

  .rock-btn {
    background-color: rgb(62, 87, 99);
  }
  .ice-btn {
    background-color: rgb(62, 255, 249);
  }
  .dragon-btn {
    background-color: rgb(159, 79, 162);
  }
  
  .default-btn {
    background-color: rgb(8, 0, 0);
  }
  