@import '../../common/style.scss';

.pokedex-images img {
    height: 250px;
    width: 250px;
    background-size: cover;
}

.btn {
    font-weight: bold;
}

table {
    width: 100%;
    justify-content: center;
}

.table th, .table td {
    text-align: center; 
  }
td,th {
    font-weight: bolder;
    font-size: larger;
}

