@import '../../common/style.scss';

.detail-wrapper {
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
}

.detail-card {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    margin: 0 auto;
    border-radius: 20px;
}


.card-inner {
    text-align: center;
    width: 80%;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
}


.card-middle p {
    font-weight: 400;
}

.card-bottom {
    display: flex;
    justify-content: center;
}

button {
    margin-bottom: 10px;
}

.card-bottom button:nth-child(2) {
    margin-left: 2px;
  }
.card-bottom button:last-child {
    margin-left: 10px;
  }

.detail-image img {
height: 200px;
width: 200px;
background-size: cover;
}