@import '../../common/style.scss';

.detail-wrapper {
    width: 100%;
    height:500px;
    display: flex;
    justify-content: center;
    background-color: red;
}

.detail-card {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    margin: 0 auto;
    border-radius: 20px;
}


.card-inner {
    text-align: center;
    width: 80%;
    max-height: 500px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: green;
}

.detail-image img {
height: 250px;
width: 250px;
background-size: cover;
}