@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  