@import '../../common/style.scss';

.home-page {
    width: 100%;
    position: relative;
    background-image: url('../../images//pattern-png-30769.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-text {
    text-align: center;
    font-family: "Poetsen One", serif;
    font-size: 1.5rem;
}
.home-container {
   width: 100%;
   height: auto;
   padding-left: 0px !important;
   padding-right: 0px !important;

}

.home-intro {
    margin: 0 auto;
    text-align: center;
  }

.home-inner {
    width: 100%;

}

.home-inner p {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    font-family: "Titillium Web", serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 8px 8px 2px 1px  rgba(0, 0, 0, 0.25)
}

.home-media {
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 100px;
}

a {
    text-decoration: none;

}
.ven-fig, .char-fig, .blas-fig {
    text-align: center;
    margin: 0 auto;
 display: flex;
 justify-content: center;
    height: 350px;
    width: 400px;
    margin-top: 40px;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 50px;
    a {
        color: white
    }
    a:hover {
        color:orange;
    }
}


.ven-fig {
    background-image: url('../../images/8764038.webp');
    background-position: center;
    background-size: cover;
    box-shadow: 8px 8px 2px 1px rgba(4, 125, 14, 0.25);
}
.char-fig {
    background-image:url('../../images/red-grunge-background.webp');
    background-position: center;
    background-size: cover;
    box-shadow: 8px 8px 2px 1px rgba(175, 3, 3, 0.25);
}

.blas-fig {
    background-image:url('../../images/83.webp');
    background-position: center;
    background-size: cover;
    box-shadow: 8px 8px 2px 1px rgba(16, 1, 157, 0.25);

}
.char-fig img, .ven-fig img {
    width: 80%;
    margin: 0 auto;
    aspect-ratio: auto;
    background-size: cover;
}

.blas-fig img {
    width: 230px;
    margin: 0 auto;
    aspect-ratio: auto;
    margin-bottom: 40px;
}

.logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.logo-wrapper img {
    width: 300px;
    aspect-ratio: auto;
    background-size: cover;
    padding: 10px;

}


.home-media .row {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }

.tcg-col, .games-col , .movies-col {
width: 750px;
display: flex;
  }

  
  .home-media .row:nth-child(even) {
    flex-direction: row-reverse; 
  }



.tcg-card, .movies-card, .games-card {
    width: 100%;
    display: flex;
    justify-content: center;
  text-align: left;
  align-self: center;
}



  @media (max-width: 767px) {
    .card {
        width: 90%;
    }
    .home-inner p {
        width: 90%;
      margin: 0 auto;
    }
    .home-intro p {
        width: 90%;
        margin: 0 auto;
    }
    a {
        padding-bottom: 10px;
    }
    
    .logout-button {
        margin-top: 10px;
    }
  }