@import '../../common/style.scss';

.home-wrapper {
    height: 500px;
    width: 100%;
    padding: 20px;
}

h2 {
    text-align: center;
}
.home-inner {
    display: wrap;
}
.home-inner p {
    padding: 20px;
}

.home-media {
    height: 300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.ven-fig {
    background-color: rgba(35, 243, 28, 0.471);
    height: 300px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgb(4, 125, 14);
}
.char-fig {
    background-color: rgba(243, 28, 28, 0.471);
    height: 300px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgb(175, 3, 3);
}

.blas-fig {
    background-color: rgba(30, 61, 240, 0.471);
    height: 300px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgb(16, 1, 157);

}
figure img {
    height: 250px;
    width: 250px;
    background-size: cover;
    margin-left: 10%;
    margin-top: 5%;
}
figcaption {
   text-align: center;
   color: black;
   text-transform: capitalize;
   font-weight: bolder;
}