@import '../../common/style.scss';

.home-page {
    height: 100vh;
    width: 100%;
    background-image: url('../../images/pattern-png-30769.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-text {
    text-align: center;
    font-family: "Poetsen One", serif;
    font-size: 1.5rem;
}
.home-wrapper {
   width: 100%;
   height: 80vh;
}
.home-inner p {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    font-family: "Titillium Web", serif;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 8px 8px 2px 1px  rgba(0, 0, 0, 0.25)
}

.home-media {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}
.ven-fig, .char-fig, .blas-fig {
 display: flex;
 justify-content: center;
    height: 350px;
    width: 300px;
    margin-top: 40px;
    border-radius: 8px;
    font-weight: bold;
    a {
        color: white
    }
    a:hover {
        color:orange;
    }
}


.ven-fig {
    background-image: url('../../images//8764038.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 8px rgb(4, 125, 14);
}
.char-fig {
    background-image:url('../../images/red-grunge-background.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 8px rgb(175, 3, 3);
}

.blas-fig {
    background-image:url('../../images/83.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 8px rgb(16, 1, 157);

}
.char-fig img, .ven-fig img {
    width: 100%;
    aspect-ratio: auto;
    background-size: cover;
}

.blas-fig img {
    width: 230px;
    margin: 0 auto;
    aspect-ratio: auto;
    margin-bottom: 40px;
}

.logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-wrapper img {
    width: 300px;
    aspect-ratio: auto;
    background-size: cover;
    padding: 10px;

}