@import '../../common/style.scss';

.fire-btn {
    background-color: rgb(180, 0, 0);
  }
  
  .grass-btn {
    background-color: rgb(3, 141, 3);
  }
  
  .water-btn {
    background-color: rgb(5, 5, 177);
  }
  
  .default-btn {
    background-color: rgb(8, 0, 0);
  }
  