@import '../../common/style.scss';

.footer {
    position: fixed;
    bottom: 0;     
    left: 0;
    width: 100%;    
    height: 60px;
    text-align: center;
    padding: 10px 0;
    font-size: 1rem;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    background-color: white;
  a {
    color: black;
  }
  a:hover {
    color: orange;
  }
  }
  