@import '../../common/style.scss';

.footer {
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px solid red;
    border-top: 1px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
    padding: 10px;
}