@import '../../common/style.scss';

.footer {
    position: absolute;
    bottom: 0;     
    left: 0;
    width: 100%;    
    height: 50px;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    padding: 10px;
    border-top: 1px solid rgb(111, 111, 111);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    background-color: rgba(0, 0, 0, 0.1);
  }
  