@import '../../common/style.scss';


.search-wrapper {
  height: auto;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px 2px #cecccc;
  border-radius: 12px;
  margin: 20px auto;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  position: relative; 
}
  
.search-inner {
  border-radius: 12px;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
}

  
input {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  align-self: center;
  padding: 10px;
  font-size: 16px;
}

