@import '../../common/style.scss';

.search-wrapper {
    height: auto;
    width: 60%;
    background-color: red;
    box-shadow: 2px 2px 2px 2px #cecccc;
    border-radius: 12px;
    margin: 20px auto;
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: row;
}


.search-inner {
border-radius: 12px;
width: 90%;
margin: 0 auto;
display: flex;
}


input {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    align-self: center;
    padding: 10px;
    font-size: 16px;
}

.pokeball {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
}


.pokeball-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .pokeball-btn img {
    width: 50px; 
    height: 50px;
    transition: transform 0.2s ease;
    border-radius: 50%;
    background-color: white;
    align-self: center;
  }
  
  .pokeball-btn img:hover {
    transform: scale(1.1); 
  }
  
  
.results-list {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin: 0 auto;
  }
  
  .search-inner {
    flex-grow: 1;
  }
  
  .search-result {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .search-result:hover {
    background-color: #f0f0f0;
  }
  