@import '../../common/style.scss';




.header-wrapper {
    width: 100%;
    height: 90px;
    display: flex;
    font-size: 1.5rem;
    background-color: transparent;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.navbar-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

}



.navbar-nav span {
    font-weight: bolder;
    font-family: "Audiowide", sans-serif;
}

.navbar-nav a {
    text-decoration: none;
    color: black;
    align-self: center;
}

.logout-button {
    background-color: white;
    align-self: center;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    border: black solid 2px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 8px;
    box-shadow: 21px 16px 20px -20px rgba(0,0,0,0.45);
}
.logout-button:hover {
    background-color: orange;
}




@media (max-width: 991px) {
    .header-wrapper {
        background-color: white;
        padding-left: 0px !important;
        height: 60px;
        
    }
    .header-container {
        z-index: 999;
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;

    }
    .navbar-toggler {
        margin-left: 10px;
        color: black;
        border-color: black;
    }
    .navbar-toggler:focus {
        background-color: white;
        color: orange;
        border-color: white;
    }
    .navbar-nav {
        width: 100%;
        display: flex;
        padding: 20px 0px 20px 0px;
        margin-top: 5px;
        flex-direction: column;
        background-color: white;
        box-shadow: -6px 12px 20px -20px rgba(0,0,0,0.45),
         -6px -12px 20px -20px rgba(0,0,0,0.45);
    }      

    .navbar-nav a {
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    .navbar-nav a:hover {
        background-color: rgba(247, 187, 5, 0.5);
    }

}
