@import '../../common/style.scss';

.header-wrapper {
    width: 100%;
    height: 90px;
    display: flex;
    font-size: 1.5rem;
    background-color: transparent;

}

.header-container {
    display: flex;
    flex-direction: row;
}

.navbar-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}



.navbar-nav span {
    font-weight: bolder;
    font-family: "Audiowide", sans-serif;
}
.home-div {
    width: 30%;
    height: 120px;
    align-self: center;

}
.log-div {
    width: 30%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-self: center;
}


.auth-div {
    width: 30%;
    height: 120px;
    display: flex;
    justify-content: space-around;
     align-self: center;

}

.logout-button {
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    .logout-button:hover {
        background-color: orange;
    }
}

  
.navbar-collapse {
    display: flex;
    flex-direction: column;
    background-color: white;
}