@import '../../common/style.scss';

.register-wrapper {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}


.register-inner {
    width: 40%;
    padding: 10px;
}

.info-wrapper {
    width: 60%;
    height: 600px;
    text-align: center;
}

.info-wrapper img {
    height: 400px;
}

.info-wrapper h1 {
    padding-top: 20px;
}







br {
    margin-top: 5px;
}