@import '../../common/style.scss';

.register-page {
    height: 100vh;
    background-image: url('../../images/pattern-png-30769.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}
.register-wrapper {
    align-content: center;
    height: 550px;
    width: 100%;
    padding: 20px;
 
}
.register-inner {
    display: flex;
    justify-self: center;
    width: 90%;
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(114, 74, 143, 0.2);
    box-shadow: 8px 8px 2px 1px  rgba(0, 0, 0, 0.25);
}

input {
    box-shadow: 3px 3px 2px 1px  rgba(0, 0, 0, 0.1);
}

.info-wrapper {
    width: 100%;
    text-align: center;
}

.info-wrapper img {
    aspect-ratio: auto;
    background-size: cover;
    height: 400px;
}

.info-wrapper h3 {
    padding-top: 20px;
}

.register-button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 2px 1px  rgba(0, 0, 0, 0.1);
}

.register-button:hover {
    background-color: rgba(246, 107, 56, 0.8);
}
.pokemon-logo {
    width: 100%;
    text-align: center;
}
.pokemon-logo img {
    width: 300px;
    aspect-ratio: auto;
    background-size: cover;
    padding: 10px;
    
}

.slogan {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-family: "Poetsen One", serif;
}
.login-link {
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    span {
        color: black;
    }
    span:hover {
        color: rgb(246, 107, 56);
    }
}

@media (max-width: 1200px) {
    .info-wrapper{
        display: none;
       }

       .register-wrapper {
        height: 300px;
        padding-bottom: 70px;
       }
}

@media (max-width: 576px) {
    .register-wrapper {
     
    }
  }
